section.delivery
	article.delivery__article
		h5 Доставка еды в вашем городе
		p Круглосуточная доставка пиццы и система бонусов
		p Доставка пиццы на дом работает 24 часа в сутки 7 дней в неделю, включая праздники, а карта доставки покрывает всю территорию Москвы и ряд ближайших городов. Заявки принимаются онлайн – процесс выбора и подтверждения заказа занимает всего несколько минут.
		p Купить пиццу можно и в одном из наших 84 ресторанов. Время работы – с 11:00 до 23:00 часов, все они находятся в шаговой доступности от метро.
		p Круглосуточная доставка пиццы и система бонусов
		p Доставка пиццы на дом работает 24 часа в сутки 7 дней в неделю, включая праздники, а карта доставки покрывает всю территорию Москвы и ряд ближайших городов. Заявки принимаются онлайн – процесс выбора и подтверждения заказа занимает всего несколько минут.
		p Купить пиццу можно и в одном из наших 84 ресторанов. Время работы – с 11:00 до 23:00 часов, все они находятся в шаговой доступности от метро.
		p Круглосуточная доставка пиццы и система бонусов
		p Доставка пиццы на дом работает 24 часа в сутки 7 дней в неделю, включая праздники, а карта доставки покрывает всю территорию Москвы и ряд ближайших городов. Заявки принимаются онлайн – процесс выбора и подтверждения заказа занимает всего несколько минут.
		p Купить пиццу можно и в одном из наших 84 ресторанов. Время работы – с 11:00 до 23:00 часов, все они находятся в шаговой доступности от метро.
