meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
link(rel="stylesheet", href="styles/reset.css")
link(rel="stylesheet", href="styles/fonts.css")
link(rel="stylesheet", href="styles/fontello.css")
link(rel="stylesheet", href="libs/slick/slick.css")
link(rel="stylesheet", href="libs/slick/slick-theme.css")
link(rel="stylesheet", href="libs/fancybox/jquery.fancybox.min.css")
link(rel="stylesheet", href="libs/jqueryScrollBar/jquery.mCustomScrollbar.css")
link(rel="stylesheet", href="libs/jquery-ui-1.12.1/jquery-ui.min.css")
link(rel="stylesheet", href="styles/style.css")
