header.header
  .container.clearfix
    a(href="index.html").logo
      span DeliFood
    ul.menuMain
      each item in menuMainItem
        li
          a(href= item.href)= item.text
    .mode
      svg(width="30", height="25")
        use(xlink:href="#ic-delivery")
      span Доставка: с 9:00 до 00:00
    .nav__burger(role="navigation")
    a(href="#").btn.btn--sm
      svg(width="15", height="13")
        use(xlink:href="#ic-key")
      span вход
    a(href="#").phone 8 800 123 45 69
nav.nav
  .container
    ul.nav__menu.clearfix
      each item in navMenuItem
        li
          a(href= item.href)
            svg(width= item.width, height= item.height)
              use(xlink:href=`#ic-${item.icon}`)
            span= item.text

























